@import "./../../../../scss/mixins";
@import "./../../../../scss/colors";

.item {
  @include flex(flex-start, center);

  img {
    width: 39%;
    aspect-ratio: 245 / 159;
    object-fit: cover;
  }

  .info {
    margin-left: 2rem;

    .caption {
      color: $colorPurple;
      cursor: pointer;
    }

    h3 {
      margin-top: 1.25rem;
      cursor: pointer;
    }

    .description {
      margin-top: 1rem;
      color: $colorMediumGray;
    }
  }
}
