<section>
  <div class="container">
    <div class="content">
      <div class="intro">
        <p class="caption">Testimonials</p>
        <h3>What people say about our blog</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </p>
      </div>
      <div class="feedback">
        <h5>
          {{ currentTestimonial.text }}
        </h5>
        <div class="bottom">
          <div class="profile">
            <img
              [src]="('apiUrl' | env) + currentTestimonial.authorPhoto"
              alt="Profile picture"
            />
            <div class="user">
              <h5>{{ currentTestimonial.authorName }}</h5>
              <p>{{ currentTestimonial.authorRegion }}</p>
            </div>
          </div>
          <div class="controls">
            <img
              src="./../../../../assets/img/Back button.svg"
              alt="Back button"
              (click)="onBack()"
            />
            <img
              class="back"
              src="./../../../../assets/img/Next Button.svg"
              alt="Next button"
              (click)="onNext()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
