<section>
  <div class="container">
    <div class="content">
      <div class="intro">
        <p class="caption">Testimonials</p>
        <h3>What people say about our blog</h3>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </p>
      </div>
      <div class="feedback">
        <h5>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </h5>
        <div class="bottom">
          <div class="profile">
            <img
              src="./../../../../assets/img/Profile picture.jpg"
              alt="Profile picture"
            />
            <div class="user">
              <h5>Jonathan Vallem</h5>
              <p>New York, USA</p>
            </div>
          </div>
          <div class="controls">
            <img
              src="./../../../../assets/img/Back button.svg"
              alt="Back button"
            />
            <img
              class="back"
              src="./../../../../assets/img/Next Button.svg"
              alt="Next button"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
