<footer>
  <div class="container">
    <div class="links">
      <img src="./../../assets/img/Logo.svg" alt="Finsweet" />
      <div class="navigation">
        <nav>
          <a routerLink="">Home</a>
          <a routerLink="blog">Blog</a>
          <a routerLink="/">About Us</a>
          <a routerLink="/">Contact Us</a>
          <a routerLink="/">Privacy Policy</a>
        </nav>
      </div>
    </div>
    <div class="subscribe">
      <h3>Subscribe to our news letter to get latest updates and news</h3>
      <form>
        <input type="text" placeholder="Enter Your Email">
        <button>Subscribe</button>
      </form>
    </div>
    <div class="contacts">
        <div>
            <p>Finstreet 118 2561 Fintown</p>
            <p>Hello@finsweet.com  020 7993 2905</p>
        </div>
        <div class="socials">
            <a>
                <img src="./../../assets/img/facebook negative.svg" alt="Facebook Icon Negative">
            </a>
            <a>
                <img src="./../../assets/img/twitter negative.svg" alt="Twitter Icon Negative">
            </a>
            <a>
                <img src="./../../assets/img/instagram negative.svg" alt="Instagram Icon Negative">
            </a>
            <a>
                <img src="./../../assets/img/linkedin negative.svg" alt="LinkedIn Icon Negative">
            </a>
        </div>
    </div>
  </div>
</footer>
