@import "./../../../../mixins";
@import "./../../../../colors";

section {
  padding: 5rem 0;
  background-color: $colorLavender;
}

.container {
  @include flex(center, center);
  flex-direction: column;
}

p {
  margin-top: 1rem;
}

.caption {
  margin-top: 2rem;
  font-weight: 500;

  span {
    cursor: pointer;
  }
}
