$colorLight: #ffffff;
$colorBlack: #232536;
$colorYellow: #ffd050;
$colorPurple: #592ea9;
$colorDarkGray: #4c4c4c;
$colorMediumGray: #6d6e76;
$colorLightGray: #f4f4f4;
$colorLavender: #f4f0f8;
$colorLightYellow: #fbf6ea;
$colorRed: #ff4040;
