<section>
  <div class="container">
    <div class="content">
      <p class="caption">Featured Post</p>
      <h3>Step-by-step guide to choosing great font pairs</h3>
      <app-author-date
        [author]="exampleAuthor"
        [date]="exampleDate"
      ></app-author-date>
      <p class="intro">
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident.
      </p>
      <button>Read More ></button>
    </div>
    <img src="./../../../../assets/img/featured_post.jpg" alt="Featured Post Image">
  </div>
</section>
