<section>
  <div class="container">
    <div class="wrapper">
      <div class="content">
        <img [src]="(author$ | async)?.photoSrc | static" alt="Author Photo" />
        <div class="greeting">
          <h2>
            Hey there, I’m {{ (author$ | async)?.name }} and welcome to my Blog
          </h2>
          <p>
            {{ (author$ | async)?.blogDescription }}
          </p>
          <div class="socials-wrapper">
            <app-socials
              [facebookLink]="(author$ | async)?.socials?.facebook"
              [twitterLink]="(author$ | async)?.socials?.twitter"
              [instagramLink]="(author$ | async)?.socials?.instagram"
              [linkedinLink]="(author$ | async)?.socials?.linkedIn"
            ></app-socials>
          </div>
        </div>
      </div>
      <div class="shape"></div>
    </div>
  </div>
</section>
