@import "./../../../../../scss/mixins";
@import "./../../../../../scss/colors";

section {
  padding: 5rem 0;
  background-color: $colorLavender;
}

.wrapper {
  padding: 0 16rem;
  @include flex(center, center);
  flex-direction: column;
}

p {
  margin-top: 1rem;
}

.description {
  text-align: center;
}

.caption {
  margin-top: 2rem;
  font-weight: 500;

  span {
    cursor: pointer;
  }
}
