<div class="socials">
  <a [href]="'https://' + facebookLink">
    <img src="./../../../../../assets/img/facebook.svg" alt="Facebook Logo" />
  </a>
  <a [href]="'https://' + twitterLink">
    <img src="./../../../../../assets/img/twitter.svg" alt="Twitter Logo" />
  </a>
  <a [href]="'https://' + instagramLink">
    <img src="./../../../../../assets/img/instagram.svg" alt="Instagram Logo" />
  </a>
  <a [href]="'https://' + linkedinLink">
    <img src="./../../../../../assets/img/linkedin.svg" alt="LinkedIn Logo" />
  </a>
</div>
