<section>
  <div class="container">
    <div class="wrapper">
      <h2>My Posts</h2>
      <div class="posts">
        <div class="item" *ngFor="let post of posts$ | async">
          <app-post
            [postId]="post._id"
            [imgSrc]="post.imgSrc | static"
            [category]="post.categoryName"
            [categoryId]="post.category"
            [title]="post.title"
            [description]="post.description"
          ></app-post>
        </div>
      </div>
    </div>
  </div>
</section>
