<section>
  <div class="container">
    <div class="featured">
      <h3>Featured Post</h3>

      <div class="content">
        <img [src]="('apiUrl' | env) + featuredPost.imgSrc" alt="Post Image" />
        <div class="wrapper">
          <app-author-date
            [author]="featuredPost.authorName"
            [date]="featuredPost.date"
          ></app-author-date>
        </div>
        <h4>
          {{ featuredPost.title }}
        </h4>
        <p>
          {{ featuredPost.description }}
        </p>
        <button [routerLink]="'post/' + featuredPost._id">Read More ></button>
      </div>
    </div>

    <div class="all">
      <div class="heading">
        <h3>All Posts</h3>
        <a routerLink="/blog">View All</a>
      </div>
      <div class="content">
        <app-post-min
          *ngFor="let post of posts"
          [author]="post.authorName"
          [date]="post.date"
          [title]="post.title"
        ></app-post-min>
      </div>
    </div>
  </div>
</section>
