@import "./../../../../../../assets/scss/mixins";
@import "./../../../../../../assets/scss/colors";

.item {
  padding: 1.5rem;
  border: 1.5px solid rgba($colorMediumGray, 0.1);

  @include flex(flex-start, center);

  h4 {
    margin-left: 1rem;
  }

  &:hover {
    background-color: $colorYellow;
  }
}
