<section>
  <div class="container">
    <div class="content">
      <p class="caption">Featured Post</p>
      <h3>{{ featuredPost?.title }}</h3>
      <div class="wrapper">
        <app-author-date
          [author]="featuredPost?.authorName"
          [id]="featuredPost?.author"
          [date]="featuredPost?.date"
        ></app-author-date>
      </div>
      <p class="intro">
        {{ featuredPost?.description }}
      </p>
      <button [routerLink]="['/post', featuredPost?._id]">Read More ></button>
    </div>
    <img [src]="featuredPost?.imgSrc | static" alt="Featured Post Image" />
  </div>
</section>
