@import "./../../../../../scss/mixins";
@import "./../../../../../scss/colors";

section {
  padding-top: 4rem;
}

.content {
  margin-top: 2rem;
  padding-right: 8rem;
  border-top: 1px solid rgba($colorMediumGray, 0.32);
}

.item {
  margin-top: 4rem;
}

.controls {
  @include flex(center, center);

  margin-top: 4rem;

  & > * {
    margin-left: 1rem;
    cursor: pointer;

    &:first-child {
      color: $colorMediumGray;
      margin-left: 0;
    }
  }
}
