<section>
    <div class="container">
        <div class="title">
            <p>We are</p>
            <h5>Featured in</h5>
        </div>
        <img src="./../../../../assets/img/Logo 1.svg" alt="Featured In Logo">
        <img src="./../../../../assets/img/Logo 2.svg" alt="Featured In Logo">
        <img src="./../../../../assets/img/Logo 3.svg" alt="Featured In Logo">
        <img src="./../../../../assets/img/Logo 4.svg" alt="Featured In Logo">
        <img src="./../../../../assets/img/Logo 5.svg" alt="Featured In Logo">
    </div>
</section>