@import "./../../../../../assets/scss/mixins";
@import "./../../../../../assets/scss/colors";

.item {
  @include flex(center, center);
  flex-direction: column;
  padding: 2.5rem;
  background-color: $colorLightGray;

  &:hover {
    background-color: $colorLightYellow;
  }

  img {
    width: 8rem;
    aspect-ratio: 1 / 1;
    border-radius: 90px;
    object-fit: cover;
  }

  h4 {
    margin-top: 1.25rem;
  }

  p {
    @include bodyTypography2;
    color: $colorMediumGray;
    text-align: center;
  }

  .socials-wrapper {
    margin-top: 1.25rem;
  }
}
