@import "./../../../../../assets/scss/mixins";

.container {
  @include flex;
}

.item {
  margin-top: 2rem;

  &:first-of-type {
    margin-top: 0;
  }
}

.controls {
  margin-left: 9rem;
}

.categories-container {
  margin-top: 2.5rem;

  .category {
    margin-top: 1.5rem;

    &:first-of-type {
      margin-top: 0;
    }
  }
}

.tags {
  margin-top: 3rem;
}

.tags-container {
  margin-top: 0.5rem;

  @include flex(space-between);
  flex-wrap: wrap;

  .tag {
    margin-top: 1rem;
    width: 100%;
  }
}
