<section>
    <div class="container">
        <div class="hero">
            <p class="caption">Posted on <span>startup</span></p>
            <h1>Step-by-step guide to choosing great font pairs</h1>
            <p class="info">By <a routerLink="">James West</a> | May 23, 2022</p>
            <p class="intro">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
            <button>Read More ></button>
        </div>
    </div>
</section>
