<section>
  <div class="container">
    <div class="wrapper">
      <div class="content">
        <img
          src="./../../../../assets/img/author-photo.jpg"
          alt="Author Photo"
        />
        <div class="greeting">
          <h2>Hey there, I’m Andrew Jonhson and welcome to my Blog</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Non
            blandit massa enim nec. Scelerisque viverra mauris in aliquam sem.
            At risus viverra adipiscing at in tellus.
          </p>
          <div class="socials-wrapper">
            <app-socials></app-socials>
          </div>
        </div>
      </div>
      <div class="shape"></div>
    </div>
  </div>
</section>
