<section>
  <div class="container">
    <div class="content">
      <p class="caption">Contact Us</p>
      <h2>Let’s Start a Conversation</h2>
      <p class="intro">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
      </p>
      <div class="info">
        <div class="column">
            <p class="heading">Working hours</p>
            <h5>Monday To Friday<br>9:00 AM to 8:00 PM </h5>
            <p>Our Support Team is available 24/7</p>
        </div>
        <div class="column">
            <p class="heading">Contact us</p>
            <h5>020 7993 2905</h5>
            <p>hello@finsweet.com</p>
        </div>
      </div>
      <form>
        <div class="inputs">
            <input type="text" placeholder="Full Name">
            <input type="email" placeholder="Your Email">
            <select placeholder="Query Related">
                <option>Query 1</option>
                <option>Query 2</option>
            </select>
            <textarea cols="30" rows="10" placeholder="Message"></textarea>
        </div>
        <button>Send Message</button>
      </form>
    </div>
  </div>
</section>
