<section>
  <div class="container">
    <div class="wrapper">
      <div class="author">
        <img
          [src]="(author$ | async)?.photoSrc | static"
          alt="Profile Picture"
        />
        <div class="profile">
          <a [routerLink]="['/author', (author$ | async)?._id]">{{
            (author$ | async)?.name
          }}</a>
          <p>Posted on {{ (post$ | async)?.date | date : "d MMMM y" }}</p>
        </div>
      </div>
      <h2>{{ (post$ | async)?.title }}</h2>
      <div class="category">
        <img [src]="(category$ | async)?.imgSrc | static" alt="Category Icon" />
        <h5>{{ (category$ | async)?.name }}</h5>
      </div>
    </div>
  </div>
</section>
