<section>
  <div class="container">
    <div class="shape"></div>
    <div class="content">
      <div class="column">
        <p class="caption">About Us</p>
        <h3>We are a community of content writers who share their learnings</h3>
        <p class="intro">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <a routerLink="/about-us">Read More ></a>
      </div>
      <div class="column">
        <p class="caption">Our Mission</p>
        <h4>Creating valuable content for creatives all around the world</h4>
        <p class="intro">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</section>
