@import "./../../../../../assets/scss/mixins";
@import "./../../../../../assets/scss/colors";

.content {
  padding: 0 16rem;
  @include flex(center, center);
  flex-direction: column;

  & > p {
    margin-top: 1rem;
    text-align: center;

    .error {
      color: $colorRed;
    }
  }
}

.caption {
  font-weight: 900;
}

h2 {
  margin-top: 0.75rem;
}

.intro {
  margin-top: 1.5rem;
  color: $colorMediumGray;
  text-align: center;
}

.info {
  margin-top: 4rem;
  padding: 3rem 4rem;
  @include flex(space-between);
  flex-direction: row;
  background-color: $colorPurple;
  width: 100%;

  .column {
    flex-basis: 48%;
  }

  h5 {
    margin-top: 1rem;
    color: $colorLight;
  }

  p {
    color: rgba($colorLight, 0.6);
  }

  .heading {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba($colorLight, 0.1);
  }
}

form {
  margin-top: 2rem;
  @include flex;
  flex-direction: column;
  width: 100%;

  .inputs > input,
  select,
  textarea {
    margin-top: 1rem;
    padding: 1.5rem;
    width: 100%;

    border-radius: 0.125rem;
    border: 1px solid rgba($colorMediumGray, 0.5);

    outline: none;
    background: transparent;

    @include bodyTypography1;
    font-family: "Inter", sans-serif;

    &::placeholder {
      color: $colorMediumGray;
      opacity: 1;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  .inputs {
    width: 100%;
    p {
      color: $colorRed;
    }
  }

  button {
    margin-top: 1rem;
    width: 100%;
  }
}
