@import "./../../../../../assets/scss/mixins";
@import "./../../../../../assets/scss/colors";

.container {
  @include flex(flex-start, center);
}

.content {
  h5 {
    margin-top: 1rem;
  }

  p {
    margin-top: 1rem;
  }
}

.image {
  margin-left: calc(5rem + 3.75rem);
  position: relative;

  .shape {
    width: 6.4375rem;
    height: 7.25rem;
    background-color: $colorYellow;
    border-top-left-radius: 45px;

    position: absolute;
    top: 7rem;
    left: -3.75rem;
  }
}
