<section>
  <div class="container">
    <h3>What to read next</h3>
    <div class="content">
      <div class="post" *ngFor="let post of posts$ | async">
        <app-recommended-post
          [imgSrc]="post.imgSrc | static"
          [authorId]="post.author"
          [authorName]="post.authorName"
          [date]="post.date"
          [title]="post.title"
          [description]="post.description"
          [postId]="post._id"
        ></app-recommended-post>
      </div>
    </div>
  </div>
</section>
