@import "./../../../../../assets/scss/mixins";
@import "./../../../../../assets/scss/colors";

.container {
  padding-bottom: 4rem;
  border-bottom: 1px solid rgba($colorMediumGray, 0.3);
}

.content {
  margin-top: 4rem;

  width: 100%;

  @include flex;
}

.post {
  margin-left: 2rem;

  flex-basis: 100%;

  &:first-of-type {
    margin-left: 0;
  }
}
