$colorLight: #FFFFFF;
$colorBlack: #232536;
$colorYellow: #FFD050;
$colorPurple: #592EA9;
$colorDarkGray: #4C4C4C;
$colorMediumGray: #6D6E76;
$colorLightGray: #F4F4F4;
$colorLavender: #F4F0F8;
$colorLightYellow: #FBF6EA;