@import "./assets/scss/mixins";
@import "./assets/scss/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  @include bodyTypography1;
}

section {
  padding-top: 8rem;
}

label {
  @include bodyTypography2;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sen", sans-serif;
  font-weight: 700;
}

h1,
h2,
h3 {
  letter-spacing: -0.125rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 4rem;
}

h2 {
  font-size: 3rem;
  line-height: 4rem;
}

h3 {
  font-size: 2.25rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: -0.0625rem;
}

h5 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h6 {
  font-size: 1.25rem;
  line-height: 2rem;
}

.container {
  max-width: 90rem;
  padding: 0 5rem;
  margin: auto;
}

button {
  font-family: "Sen", sans-serif;
  border: none;
  padding: 1rem 3rem;
  background-color: $colorYellow;

  @include buttonTypography;
  @include buttonHover($colorYellow);
  cursor: pointer;
}

a {
  color: $colorPurple;
  text-decoration: none;
}

.caption {
  @include captionTypography;
  font-weight: 600;
}
