@import "./../../../../../../scss/colors";

img {
  width: 100%;
  aspect-ratio: 135/106;
  object-fit: cover;
  display: block;
}

.wrapper {
  margin-top: 2rem;
}

h4 {
  margin-top: 1rem;
  cursor: pointer;
}

p {
  margin-top: 1rem;
  color: rgba($colorBlack, 0.7);
}
